html, body {
	padding: 0;
	margin: 0;
	background: #6157af;
	font-family: 'helvetica', san-serif;
}

.quizWrapper {
	padding: 20px 10px;
	display: flex;
	justify-content: center;
}

button {
	padding: 15px 30px;
	font-size: 18px;
	color: #ffffff;
	border-radius: 10px;
	background: #e27c60;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin-left: 20px;
}

button.disabled {
	pointer-events: none;
	background: grey;
	opacity: 0.7;	
}

button:first-child {
	margin: 0;
}

button:hover {
	background: #ddad86;
}

button.active {
	background: #f64c72;
}

.loadQuestionSection, .loadAnswer {
	padding: 10px 20px;
	font-size: 26px;
	color: #ffffff;
	text-align: center;
	display: none;
	max-width: 700px;
	margin: 0 auto;
}
.loadQuestionSection .imgWrap {
	width: 400px;
    min-height: 300px;
    margin: 0 auto 10px;
	display: none;
}

.imgWrap img {
	width: 100%;
}

.loadAnswer .answer {
	color: #efe2ba;
	font-size: 40px;
	margin: 0 auto 20px;
}

.quizOuterWrapper {
	display: none;
}
.preLoadingPage {
	height: 100vh;
	width: 100%;
	position: relative;
	background: url('https://i.imgur.com/h9rYQmO.jpeg') no-repeat center/cover;
}

.preLoadingPage h1 {
	position: absolute;
	width: 600px;
	top: 50%;
	transform: translateY(-50%);
	left: 10%;
	z-index: 1;
	font-size: 60px;
	margin: 0;
	text-align: center;
	color: #efe2ba;
}

.preLoadingPage h1 span {
	display: block;
	font-size: 30px;
	line-height: 36px;
}